*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store
.env

# CDK asset staging directory
.cdk.staging
cdk.out
dist

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
