bucket         = "platform-terraform-state-stage"
key            = "vault/stage/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "platform-terraform-locks-stage"
encrypt        = true
